<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-payment" version="1.0.0"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>PaymentUrway</name>

    
    <js-module name="PaymentUrway" src="www/PaymentUrway.js">
        <clobbers target="PaymentUrway" />
    </js-module>
 
 
 <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
       
            <feature name="PaymentUrway">
                <param name="android-package" value="cordova.plugin.payment.PaymentUrway" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <source-file src="src/android/PaymentUrway.java" target-dir="src/cordova/plugin/payment/PaymentUrway" />
                <source-file src="appconfig.json" target-dir="assets"/>
    </platform>

</plugin>